body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  font-family: Inter, Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.005);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -webkit-text-stroke: .025em rgba(51,51,51,0.1);
  
  box-sizing: border-box;
}
