.body{
  width: 100vw;
  height: 100vh;
  background-color: #010001;

  .card{
    background-color: #343656;
    max-width: 400px;
    margin: auto;
    transform: translateY(10vh);
    padding: 24px;
    border-radius: 8px;

    .title{
      color: white;
      text-align: center;
      font-size: 22px;
    }
  
    .subtitle{
      color: #A0A2C2;
      margin-top: 20px;
      margin-bottom: 40px;
      font-size: 16px;
      line-height: 24px;
      font-weight: 300;
    }

  }

}

.label{
  color: #A0A2C2;
  margin-top: 16px;
  font-weight: 300;
  font-size: 14px;
}

input{
  margin-top: 8px;
  width: 100%;
  padding: 10px 16px 10px 16px;
  font-size: 16px;
  outline: none;
  border: none;
  background-color: #232538;
  color: white;
  border-radius: 4px;
}

button{
  margin-top: 40px;
  margin-bottom: 16px;
  width: 100%;
  background-color: #1877F2;
  outline: none;
  border: none;
  color: white;
  font-size: 17px;
  font-weight: 300;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover{
  background-color: #1766E1;
}

.alternative{
  color: #1877F2; 
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
}