.body{
  width: 100vw;
  height: 80px;
  background-color: #1F2023;
  border-bottom: 1px solid #444444;
  display: flex;
}

.item{
  flex: 1;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 80px;

  button{
    background-color: #00B3FF;
    outline: none;
    border: none;
    padding: 10px;
    width: 120px;
    border-radius: 16px;
    cursor: pointer;
    color: white;
  }

  input{
    width: 100%;
    height: 100%;
  }
  
}

.spacer{
  flex: 5
}