.body{
  display: inline-block;
  padding: 20px;
}

.image{
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 2px solid #888888;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  cursor: pointer;
}

.container{
  background-color: #2D2F35;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex;

  .trash{
    width: 30px;
    color: white;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
  }

  .name{
    flex: 1;
    color: white;
    padding: 8px;
    line-height: 20px;
  }
}