.body{
  width: 100vw;
  height: 80px;
  background-color: #1F2023;
  border-bottom: 1px solid #444444;
  display: flex;
}

.item{
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 80px;
  padding: 0px 20px;
  
  button{
    background-color: #00B3FF;
    outline: none;
    border: none;
    padding: 10px;
    width: 120px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
  }

  .logout{
    background-color: #1F2023;
    border: 1px solid #666666;
  }

}

.spacer{
  flex: 5
}